<!DOCTYPE mapper     PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ua.farmercoop.logic.domain.mapping.mappers.CarrierMapper">
    
    <resultMap id="carrierRM" type="Carrier">
        <id property="id" column="carrierId"/>
        <result property="description" column="description" />
        <result property="name" column="name" />
	</resultMap>
    
    <select id="getCarrierById" 
		parameterType="java.lang.Long" 
		resultMap="carrierRM"
	>
        select * from carriers where idC = #{id}
    </select>    
    
    <select id="getCarrierById" 
		resultMap="carrierRM"
	>
        select * from carriers
    </select>
    
	  <update id="updateCarrier" parameterType="Carrier">
	      UPDATE carriers 
	      SET
	      	name = #{name},
	      	description = #{description}
	      WHERE idC = #{id}
	  </update>
  
    
    <insert id="insertCarrier" parameterType="Carrier" useGeneratedKeys="true" keyProperty="id"  keyColumn="idC"> 
        INSERT INTO carriers(name,description)
        VALUE (#{name}, #{description})
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID();
        </selectKey>
    </insert>
        
</mapper>