<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--   <properties resource="config/SqlMapConfig.properties"/> -->
 <typeAliases>
     <typeAlias alias="Carrier"
	 type="ua.farmercoop.logic.domain.Carrier"/>
     <typeAlias alias="Order" 
        type="ua.farmercoop.logic.domain.Order"/>
     <typeAlias alias="Product" 
        type="ua.farmercoop.logic.domain.Product"/>
    <typeAlias alias="ProductsFeatures" 
        type="ua.farmercoop.logic.domain.ProductsFeatures"/>
    <typeAlias alias="Country" 
        type="ua.farmercoop.logic.domain.Country"/>
    <typeAlias alias="Continent" 
        type="ua.farmercoop.logic.domain.Continent"/>
    <typeAlias alias="User" 
        type="ua.farmercoop.logic.domain.User"/>
</typeAliases>
  
 <environments default="development">
     <environment id="development">
	 <transactionManager type="MANAGED"/>
	 <dataSource type="POOLED">
	     <property name="driver" value="com.mysql.jdbc.Driver"/>
	     <property name="url" value="jdbc:mysql://localhost:3306/Saniok_SiteShop"/>
	     <property name="username" value="ejb"/>
	     <property name="password" value="passwords"/>
	 </dataSource>
     </environment>
 </environments>
 
 <mappers>
     <mapper resource="ua/farmercoop/logic/domain/mapping/mappers/UserMapper.xml"/>
     <mapper resource="ua/farmercoop/logic/domain/mapping/mappers/ProductMapper.xml"/>
     <mapper resource="ua/farmercoop/logic/domain/mapping/mappers/OrderMapper.xml"/>
     <mapper resource="ua/farmercoop/logic/domain/mapping/mappers/CarrierMapper.xml"/>
     <mapper resource="ua/farmercoop/logic/domain/mapping/mappers/CountryMapper.xml"/>
 </mappers>

</configuration>